@model IEnumerable<VaccineAPI2.Models.Vaccination>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

        @foreach (var item in Model)
        {
<div>
    <h4>Vaccination</h4>
    <hr />
    <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vaccine.VaccineName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Vaccine.VaccineName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstDose)
            </dt>

            <dd>
                @Convert.ToDecimal(item.SecondDose).ToString("#,##0")
               
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecondDose)
            </dt>

            <dd>
                @Convert.ToDecimal(item.SecondDose).ToString("#,##0")
                
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Percentage)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Percentage)
            </dd>

        </dl>
        
    @*
            <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country.CountryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vaccine.VaccineName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vaccine.VaccineName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstDose)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstDose)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecondDose)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecondDose)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Percentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Percentage)
            </dd>

        </dl>
    *@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id =  item.VaccinationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
        }
